body .username {
  user-select: all;
  cursor: pointer;
}

body .messageUserBtn {
  font-size: 1.6rem;
  padding: 0.5rem;
}

body .userList {
  height: 100%;
}

.userCard:hover {
  background-color: gray;
  border-radius: 5px;
}
