.userCard:hover {
  background: var(--primary-color);
  border-radius: 5px;
}

.active {
  background-color: gray;
  border-radius: 5px;
}

body .username {
  user-select: all;
  cursor: pointer;
}

body .messageUserBtn {
  font-size: 1.6rem;
  padding: 0.5rem;
}

body .directMessageList {
  min-height: 45px;
  max-height: 300px;
}

body .userList {
  height: 100%;
}
