.userCard:hover {
  background: gray;
  border-radius: 5px;
}

body .sidebarContainer {
  width: 290px;
}

.active {
  background-color: gray;
}

.transparent {
  background-color: transparent;
}

.sidebarContainer > .username {
  user-select: all;
  cursor: pointer;
}
