body .userCard {
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  padding: 0.5rem;
}

.userCard > .avatar {
  font-size: 1.4rem;
}

.email {
  font-weight: 500;
  font-size: 1.6rem;
  word-break: break-all;
  user-select: none;
}
