.linkContainer {
  gap: 1rem;
}

.link {
  font-size: 2rem;
}

.pageContainer {
  height: 100%;
  background-color: #404eed;
  overflow: auto;
}

.appNameContainer {
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.appNameContainer > img {
  height: 54px;
  width: 54px;
}

.appNameContainer > .name {
  font-size: 5rem;
  color: white;
}

.headline {
  font-size: 6.8rem;
  color: white;
  text-align: center;
  margin-bottom: 6px;
}

.text {
  max-width: 70ch;
  font-size: 1.8rem;
  text-align: center;
}

body .linkContainer {
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 32px);
}

body .contentContainer {
  gap: 3rem;
  width: calc(100% - 32px);
}
