.messageInput {
  border-radius: 5px;
  background-color: #40444b;
  outline: 0;
  border: 0;
  padding: 0.4rem 0.8rem;
  color: white;
  font-size: 1.6rem;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.messageField > form {
  width: 100%;
  display: flex;
  align-items: center;
}

.messageField {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
}

.sendBtn {
  width: auto;
  background-color: transparent;
  height: 36px;
  display: flex;
  align-items: center;
}
