.messageCard {
  gap: 1rem;
  align-items: center;
}

.name {
  color: white;
  margin-right: 8px;
  font-weight: 500;
}

.avatar {
  height: 48px;
  width: 48px;
  font-size: 1.6rem;
}

.date {
  font-size: 1.1rem;
  align-self: center;
}
