body .addMemberBtn {
  font-size: 1.6rem;
  padding: 0.5rem;
}

.userCard:hover,
.active {
  background: gray;
  border-radius: 5px;
}

body .loadingContainer {
  background: var(--secondary-color);
}
