body .container {
  width: 80px;
  height: 100%;
  background-color: #202225;
  gap: 0.8rem;
  justify-content: flex-start;
  padding: 0.5rem;
}

.container > .add {
  font-size: 2.4rem;
  font-weight: 500;
}

.arrow {
  position: absolute;
}
