body .container {
  height: 100%;
  background-color: #202225;
  justify-content: flex-start;
  padding: 0.6rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex: 1 0 auto;
}

.container > .channelList {
  height: 100%;
}

.container > .channelList::-webkit-scrollbar {
  display: none;
}

.channelList > li {
  margin-bottom: 0.8rem;
}

.channelList > li:first-child {
  border-bottom: solid gray 1px;
  padding-bottom: 1rem;
}

.layout {
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  body .container {
    position: absolute;
    margin-top: 48px;
    left: -100%;
    transition: left 0.3s;
    height: calc(100% - 48px);
  }

  body .containerClicked {
    left: 0;
  }
}
