body .container {
  width: 75px;
  height: 100%;
  background-color: var(--primary-color);
  gap: 0.8rem;
  justify-content: flex-start;
  padding: 0.5rem;
}

.container > .icon {
  height: 48px;
  width: 48px;
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.5s;
}

.icon:hover {
  background: gray;
  border-radius: 8px;
  transition: all 0.3s;
}

.container > .add {
  font-size: 2.4rem;
  font-weight: 500;
}
