.container {
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  color: var(--white);
}
