* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

:root {
  --button-color: #1164a3;
  --primary-color: #36393f;
  --secondary-color: #2f3136;
  --primary-font-color: #d7d6d9;
  --secondary-font-color: #72767d;
  --button-color-hover: #1164a3bf;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00aff4;
  text-decoration: none;
}
